{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <h1>Hello, World!</h1>
    </div>
    <table class="table table-striped">
        <caption>Projects</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>status</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ url_for('project.new_project') }}">New Project</a>
    </p>
{% endblock %}