{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field, with_errors %}

{% block styles %}
    {{ super() }}
    {#    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_style.css') }}">#}
{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h2>{{ task.name }} &nbsp;
            <a class="btn btn-primary" role="button" href="{{ url_for('task.start', task_id=task.id) }}">启动任务</a></h2>
    </div>

    <table class="table table-striped">
        <caption>起始链接</caption>
        <thead>
        <tr>
            <th class="col-sm-1">序号</th>
            <th class="col-sm-2">链接</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range(start_urls|count) %}
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ start_urls[i].rule1 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>

    <table class="table table-striped">
        <caption>链接规则</caption>
        <thead>
        <tr>
            <th class="col-sm-1">序号</th>
            <th class="col-sm-2">规则</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range(link_rules|count) %}
            <tr>
                <td>{{ i + 1 }}</td>
                <td>{{ link_rules[i].rule1 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>

    <table class="table table-striped">
        <caption>标签列表 &nbsp;
            <button class="btn btn-success btn-sm" data-toggle="modal"
                    data-target="#add_tag_modal">添加标签
            </button>
        </caption>
        <thead>
        <tr>
            <th class="col-sm-1">序号</th>
            <th class="col-sm-1">名称</th>
            <th class="col-sm-2">规则</th>
            <th class="col-sm-1">操作</th>
        </tr>
        </thead>
        <tbody id="tags_list">

        {% for i in range(tags|count) %}
            <tr>
                <td>{{ i + 1 }}</td>
                <td> {{ tags[i].name }} </td>
                <td> {{ tags[i].rule1 }} </td>
                <td><a class="btn btn-danger btn-sm" role="button"
                       href="{{ url_for('task.remove_tag', task_id=task.id, tag_id=tags[i].id) }}">删除</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#    添加标签模态框#}
    <div class="modal fade" id="add_tag_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        添加标签
                    </h4>
                </div>
                <div class="modal-body">
                    <form id="new_tag_form" action method="post" role="form" class="form-horizontal">
                        {{ new_tag_form.csrf_token }}
                        {# 名称 #}
                        <div class="form-group">
                            {{ new_tag_form.name.label(class="control-label col-sm-2") }}
                            <div class="col-sm-4">
                                {{ with_errors(new_tag_form.name, class="form-control") }}
                            </div>
                        </div>
                        {# 类型 #}
                        <div class="form-group">
                            {{ new_tag_form.type.label(class="control-label col-sm-2") }}
                            <div class="col-sm-4">
                                {{ with_errors(new_tag_form.type, class="form-control") }}
                            </div>
                        </div>
                        {#规则1#}
                        <div class="form-group">
                            {{ new_tag_form.rule1.label(class="control-label col-sm-2") }}
                            <div class="col-sm-4">
                                {{ with_errors(new_tag_form.rule1, class="form-control") }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">关闭</button>
                    {{ new_tag_form.submit(class="btn btn-success", id="commit_add_tag") }}
                </div>
            </div>
        </div>
    </div>

    <hr>


    <table id="result_table" class="table table-striped">
        <caption>任务结果 &nbsp;
            <button id="btn_refresh_result" class="btn btn-primary btn-sm">刷新结果</button>
            &nbsp;
            <span>loading...</span>
        </caption>
        <thead>
        <tr>
            {#            <th class="col-sm-1">序号</th>#}
            {#            {% for tag in tags %}#}
            {#                <th class="col-sm-2">{{ tag.name }}</th>#}
            {#            {% endfor %}#}
            {#            <th class="col-sm-2">来源</th>#}
            {#            <th class="col-sm-2">日期</th>#}
        </tr>
        </thead>
        <tbody>
        {#        {% for i in range(results|count) %}#}
        {#            <tr>#}
        {#                <td>{{ i + 1 }}</td>#}
        {#                {% for item in results[i].items %}#}
        {#                    <td><a href="{{ url_for('task.item_detail', task_id=task.id, item_id=item.id) }}">#}
        {#                        {{ item.data[:100] if item is not none }}</a></td>#}
        {#                {% endfor %}#}
        {#                <td><a href="{{ results[i].url }}">{{ results[i].url[:100] }}</a></td>#}
        {#                <td>{{ results[i].datetime }}</td>#}
        {#            </tr>#}
        {#        {% endfor %}#}

        </tbody>
    </table>

    {#    pagination #}
    <div class="text-center">
        <nav>
            <ul class="pagination">
                <li id="previous" class="disabled">
                    <a href="javascript:void(0);" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">1<span class="sr-only">(current)</span></a>
                </li>
                {#                <li><a href="#">2</a></li>#}
                {#                <li><a href="#">3</a></li>#}
                {#                <li><a href="#">4</a></li>#}
                {#                <li><a href="#">5</a></li>#}
                <li id="next" class="disabled">
                    <a href="javascript:void(0);" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var current_page = {{ page | safe }};
        var current_size = {{ size | safe }};
        var current_num = null;
        $(document).ready(function () {
            // 设置“添加标签”按钮响应函数
            $("#commit_add_tag").click(function () {
                $.ajax({
                    url: '{{ url_for('task.new_tag', task_id=task.id) }}',
                    data: $("#new_tag_form").serialize(),
                    type: 'POST',
                    success: function (response) {
                        console.log(response);
                        var tag = response['tag'];
                        $("#tags_list").append(new_tag(tag['id'], tag['name'], tag['rule1']));
                        $("#add_tag_modal").modal('hide');
                        $("#message_box").append(make_message('添加成功', 'success'))
                    },
                    error: function (error) {
                        console.error(error);
                        $("#add_tag_modal").find(".modal-body").append(make_message("添加失败", "warning"))
                    }
                })
            });
            // 设置“刷新结果”按钮响应函数
            $("#btn_refresh_result").click(function () {
                pull_and_render_result({{ page|safe }}, current_size)

            });
            // 异步拉取任务结果
            pull_and_render_result({{ page|safe }}, current_size);

            // 设置分页：previous和next点击事件
            $("li#previous").find("a").click(function () {
                console.log('previous clicked, to:' + (current_page - 1));
                pull_and_render_result(current_page - 1, current_size);
            });
            $("li#next").find("a").click(function () {
                console.log('next clicked, to:' + (current_page + 1));
                pull_and_render_result(current_page + 1, current_size);
            });
        });
        function new_tag(id, name, rule1) {
            return '<tr>\
                 <td>' + id + '</td>\
                <td>' + name + '</td>\
                <td>' + rule1 + '</td>\
                <td><a href="\
                {{ url_for('task.remove_tag', task_id=task.id, tag_id='') }}' + id + '">删除</a></td>\
            </tr>'
        }
        function make_message(message, type) {
            return '<div class="alert alert-' + type + '">\
                    <button type="button" class="close" data-dismiss="alert">&times;</button>'
                    + message +
                    '</div>'
        }
        function pull_results(task_id, callback, page, size) {
            page = page || 1;
            size = size || 20;
            var url = '{{ url_for("task.results", task_id=99999999) }}';
            url = url.replace(/99999999/, task_id);
            return $.getJSON(url, {page: page, size: size}, callback);
        }
        function render_results(results, tags) {
            var resultTable = $("#result_table");

            {#            设置信息#}
            resultTable.find("caption > span").text('done.').fadeOut("slow");

            {#             设置标题#}
            var title = resultTable.find("> thead > tr");
            title.empty();
            $("<th>").attr("class", "col-sm-1").text('序号').appendTo(title);
            $.each(tags, function (i, tag) {
                $("<th>").attr("class", "col-sm-2").text(tag.name).appendTo(title);
            });
            $("<th>").attr("class", "col-sm-2").text('来源').appendTo(title);
            $("<th>").attr("class", "col-sm-2").text('日期').appendTo(title);

            {#            设置内容#}
            var content = resultTable.find("tbody");
            content.empty();
            {#            resultTable.hide().slideDown();#}
            $.each(results, function (i, result) {
                var row = $("<tr>").appendTo(content);
                $("<td>").text(result.id).appendTo(row);
                $.each(result.items, function (j, item) {
                    var item_url = "{{ url_for('task.item_detail', task_id=task.id, item_id=99999999) }}"
                            .replace(/99999999/, item.id);
                    $("<td>").append($("<a>").attr("href", item_url).text(item.data.substr(0, 120))).appendTo(row);
                });
                $("<td>").append($("<a>").attr("href", result.url).text(result.url.substr(0, 120))).appendTo(row);
                $("<td>").text(result.datetime).appendTo(row);
            });
        }
        function pull_and_render_result(page, size) {
            if (page <= 0 || (current_num && page > current_num)) {
                return false;
            }
            current_page = parseInt(page);
            current_size = size;
            var info_box = $("#result_table").find("caption > span");
            info_box.text('loading...');
            info_box.fadeIn();
            pull_results({{ task.id }}, function (result) {
                {# 渲染结果 #}
                render_results(result.results, result.tags);
                {# 渲染分页 #}
                render_pagination(result.page, size, result.num);
                current_num = result.num;
            }, page, size)
                    .fail(function () {
                        var msg = "获取任务结果失败";
                        console.error(msg);
                        info_box.text(msg);
                        $("#message_box").append(make_message(msg, 'warning'))
                    });
        }
        function render_pagination(page, size, num) {
            var ul = $("nav .pagination");
            var previous = $("li#previous");
            var next = $("li#next");
            // 初始化页码
            previous.nextUntil($("#next")).remove();

            // 限定10个页码
            var limit = 10, left_count = 5;
            var start, end;
            if (num <= limit) {
                start = 1;
                end = num + 1;
            } else {
                if (page <= 1 + left_count) {
                    // 靠左边
                    start = 1;
                    end = 10;
                }
                else if (num + 1 - limit + left_count < page) {
                    // 靠右边
                    start = num + 1 - limit;
                    end = num + 1;
                } else {
                    // 中间
                    start = page - left_count;
                    end = page + limit - left_count
                }
            }

            for (var i = start; i < end; i++) {
                if (i == page) {
                    var a = $("<a>").attr("href", "javascript:void(0);").text(i).append($("<span>").addClass("sr-only").text('(current)'));
                    $("<li>").addClass('active').append(a).insertBefore(next);
                } else {
                    $("<li>").append($("<a>").attr("href", "#").text(i)).click(function () {
                        var page_clicked = parseInt($(this).find("a").text());
                        console.log('page clicked, to:' + page_clicked);
                        pull_and_render_result(page_clicked, size);
                        return false;
                    }).insertBefore(next);
                }
            }
            // 设置previous and next
            previous.removeClass('disabled');
            next.removeClass('disabled');
            if (page == 1) {
                previous.addClass('disabled');
            }
            if (page == num) {
                next.addClass('disabled');
            }

        }
        function removeHTMLTag(str) {
            str = str.replace(/<\/?[^>]*>/g, ''); //去除HTML tag
            str = str.replace(/\s*\n/g, '\n'); //去除行尾空白
            //str = str.replace(/\n[\s| | ]*\r/g,'\n'); //去除多余空行
            str = str.replace(/&nbsp;/ig, '');//去掉&nbsp;
            return str;
        }
    </script>
{% endblock %}
