{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <h2>任务</h2>
    </div>
    <table class="table table-striped">
        <caption>任务列表</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>任务名</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ '完成' if task.status == 1 else '未完成' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ url_for('task.new_task') }}">新建任务</a>
    </p>
{% endblock %}