{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <h1>Hello, World!</h1>
    </div>
    <table class="table table-striped">
        <caption>Tasks</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>status</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ url_for('task.new_task') }}">New Task</a>
    </p>
{% endblock %}