{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field, with_errors %}

{% block page_content %}
    <div class="page-header">
        <h2>添加标签</h2>
    </div>

    <form action method="post" role="form" class="form-horizontal">
        {{ form.csrf_token }}

        <div class="form-group">
            {{ form.name.label(class="control-label col-sm-1") }}
            <div class="col-sm-4">
                {{ with_errors(form.name, class="form-control") }}
            </div>
        </div>

        <div class="form-group">
            {{ form.rule1.label(class="control-label col-sm-1") }}
            <div class="col-sm-4">
                {{ with_errors(form.rule1, class="form-control") }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
                {{ form.submit(class="btn btn-default") }}
            </div>
        </div>

    </form>


{% endblock %}