{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% from "_formhelpers.html" import render_field, with_errors %}

{% block title %}新建任务{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h2>新建任务</h2>
    </div>

    {#    <form method="post">#}
    {#    {{ form.csrf_token }}#}
    {#    {{ form.name }}#}
    {#    {{ form.url }}#}
    {#    {{ form.rule1 }}#}
    {#    {{ form.submit }}#}
    {#    </form>#}

    {#    {{ wtf.quick_form(form) }}#}
    <form action method="post" role="form" class="form-horizontal">

{#        {% if form.errors %}#}
{#            <ul class="errors">#}
{#                {% for field_name, field_errors in form.errors|dictsort if field_errors %}#}
{#                    {% for error in field_errors %}#}
{#                        <li>{{ form[field_name].label }}: {{ error }}</li>#}
{#                    {% endfor %}#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}

        {{ form.csrf_token }}
        {#        {{form.hidden_tag()}}#}
        <div class="form-group">
            {{ form.name.label(class="control-label col-xs-1") }}
            <div class="col-xs-4">
{#                {{ form.name(class="form-control") }}#}
                {{ with_errors(form.name, class="form-control") }}
            </div>
        </div>


        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">网址采集规则</a></li>
                <li><a href="#tab2" data-toggle="tab">内容采集规则</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <br/>

                    <div class="form-group">
                        {{ form.url.label(class="control-label col-sm-1") }}
                        <div class="col-sm-4">
                            {{ with_errors(form.url, class="form-control") }}
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            {{ (form.link_is_content) }}
                            {{ form.link_is_content.label() }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.link_rule.label(class="control-label col-sm-1") }}
                        <div class="col-sm-4">
                            {{ with_errors(form.link_rule, class="form-control") }}
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form.link_exclude.label(class="control-label col-sm-1") }}
                        <div class="col-sm-4">
                            {{ with_errors(form.link_exclude, class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.link_include.label(class="control-label col-sm-1") }}
                        <div class="col-sm-4">
                            {{ with_errors(form.link_include, class="form-control") }}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <br/>

                    <div class="form-group">
                        {{ form.content_name.label(class="control-label col-sm-1") }}
                        <div class="col-sm-4">
                            {{ with_errors(form.content_name,class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.content_rule1.label(class="control-label col-sm-1") }}
                        <div class="col-sm-4">
                            {{ with_errors(form.content_rule1,class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.content_exclude.label(class="control-label col-sm-1") }}
                        <div class="col-sm-4">
                            {{ with_errors(form.content_include,class="form-control") }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form.content_include.label(class="control-label col-sm-1") }}
                        <div class="col-sm-4">
                            {{ with_errors(form.content_include,class="form-control") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                {{ form.submit(class="btn btn-default") }}
            </div>
        </div>

    </form>

{% endblock %}